{% extends 'layout/layout.html' %}

{% block main %}
    <h1 class="mt-4">
        Забыли пароль?
    </h1>

    <p class="lead">Введите свой адрес электронной почты ниже, и мы вышлем инструкции по настройке нового адреса электронной почты.</p>

    <form method="post">
        {% csrf_token %}
        <div class="mb-3 row">
            <label class="col-md-3 col-form-label mt-1" for="id_email">Адрес электронной почты:</label>
            <div class="col-md-6 mt-1">
                <input type="email" class="form-control" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
            </div>
            <div class="col-md-3 mt-1">
                <button type="submit" class="btn btn-outline-success">Отправьте мне инструкции</button>
            </div>
        </div>
    
    </form>
{% endblock %}