{% extends 'layout/layout.html' %}

{% block main %}
    <h1 class="mt-4">Создание нового пароля!</h1>

    <form method="post">
        {% csrf_token %}

        <div class="mb-3 row">
            <label class="col-md-3 col-form-label mt-1" for="id_new_password1">Новый пароль:</label>
            <div class="col-md-9 mt-1">
                <input type="password" class="form-control" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-md-3 col-form-label mt-1" for="id_new_password2">Подтверждение нового пароля:</label>
            <div class="col-md-9 mt-1">
                <input type="password" class="form-control" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
            </div>
        </div>
                
        <button type="submit" class="btn btn-outline-success ms-auto">Изменить пароль</button>
    </form>
{% endblock %}