{% extends 'layout/layout.html' %}

{% load static %}

{% block title %}
    Обновление компании
{% endblock title %}

{% block main %}
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-9 col-lg-7 col-xl-6">
            <div class="form-header">
                <h4 class="title mb-3 mt-4" id="exampleLabel">Обновление информации компании</h4>
            </div>
            <div class="form-body mb-3">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>{{field.label}}: </strong>{{ error|escape }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}

                <form method="post">
                    {% csrf_token %}

                    <div class="form-group row mt-4">
                        <label for="id_inn" class="col-sm-3 col-form-label ">{{ form.inn.label }}</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="inn" value="{{ form.inn.value }}" id="id_inn" required>
                        </div>
                    </div>

                    <div class="form-group row mt-4">
                        <label for="id_kpp" class="col-sm-3 col-form-label ">{{ form.kpp.label }}</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="kpp" value="{{ form.kpp.value }}" id="id_kpp">
                        </div>
                    </div>

                    <div class="form-group row mt-4">
                        <label for="id_org_form" class="col-sm-3 col-form-label ">{{ form.org_form.label }}</label>
                        <div class="col-sm-9">
                            <select class="form-select" name="org_form" id="id_org_form">
                                {% for item in form.org_form %}
                                    {{ item }}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group row mt-4">
                        <label for="id_name" class="col-sm-3 col-form-label ">{{ form.name.label }}</label>
                        <div class="col-sm-9">
                            <input type="name" class="form-control" name="name" value="{{ form.name.value }}" id="id_name">
                        </div>
                    </div>

                    <div class="form-group row mt-4">
                        <label for="id_legal_address" class="col-sm-3 col-form-label ">{{ form.legal_address.label }}</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="legal_address" value="{{ form.legal_address.value }}" id="id_legal_address">
                        </div>
                    </div>

                    <div class="form-group row mt-4">
                        <label for="id_index" class="col-sm-3 col-form-label ">{{ form.index.label }}</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="index" value="{{ form.index.value }}" id="id_index" maxlength="6">
                        </div>
                    </div>

                    <div class="form-group row mt-4">
                        <label for="id_phone" class="col-sm-3 col-form-label ">{{ form.phone.label }}</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="phone" value="{{ form.phone.value }}" id="id_phone" data-phone-pattern placeholder="+7(999) 123-5678" required>
                        </div>
                    </div>

                    <div class="form-group row mt-4">
                        <label for="id_lemail" class="col-sm-3 col-form-label ">{{ form.email.label }}</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" name="email" value="{{ form.email.value }}" id="id_email" required>
                        </div>
                    </div>

                    <div class="d-grid gap-1 mt-5">
                        <div class="d-flex ms-auto btn-group" role="group">
                            <a class="btn btn-secondary" href="{% url 'projecta:company' %}" role="button">Назад</a>
                            <button class="btn btn-success" type="submit">Отправить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock main %}

{% block script %}
  <script defer type="text/javascript" src="{% static 'js/scripts/phone_input.js' %}"></script>
{% endblock script %}