{% extends 'layout/layout.html' %}

{% load static %}


{% block title %}
    Обновление страхового полиса
{% endblock title %}


{% block main %}
<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-9 col-lg-7 col-xl-6">
        <div class="form-header">
            <h4 class="title mb-3 mt-4" id="exampleLabel">Обновление страхового полиса по договору №{{ insurance_policy.agreement.agreement_number }}</h4>
        </div>
        <div class="form-body mb-3">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>{{field.label}}: </strong>{{ error|escape }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            <form method="post">
                {% csrf_token %}

                <div class="form-group row mt-4">
                    <label for="id_name_insurance_company" class="col-sm-3 col-form-label ">{{ form.name_insurance_company.label }}</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="name_insurance_company" value="{{ form.name_insurance_company.value }}" id="id_name_insurance_company" required>
                    </div>
                </div>

                <div class="form-group row mt-4">
                    <label for="id_date_from" class="col-sm-3 col-form-label ">{{ form.date_from.label }}</label>
                    <div class="col-sm-9">
                        <input type="date" class="form-control" name="date_from" value="{{ form.date_from.value|date:"Y-m-d" }}" id="id_date_from" required>
                    </div>
                </div>

                <div class="form-group row mt-4">
                    <label for="id_date_to" class="col-sm-3 col-form-label ">{{ form.date_to.label }}</label>
                    <div class="col-sm-9">
                        <input type="date" class="form-control" name="date_to" value="{{ form.date_to.value|date:"Y-m-d" }}" id="id_date_to">
                    </div>
                </div>

                <div class="d-grid gap-1 mt-5">
                    <div class="d-flex ms-auto btn-group" role="group">
                        <a class="btn btn-secondary" href="{% url 'projecta:agreement_detail' insurance_policy.agreement.id %}" role="button">Назад</a>
                        <button class="btn btn-success" type="submit">Отправить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock main %}